.nav {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 60rem;
    margin: 0 auto;

    gap: 0.5rem;
    flex-wrap: nowrap;
}

.navBtn {
    padding: 0.5rem 1rem;
    white-space: nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9f9f9;    
}

.searchBar {
    margin: 0.3125rem;
}

.searchBtn {
    margin: 0.3125rem;
    color: #f9f9f9;
}

.VerticalNavBar {
    width: 15rem;             
    min-height: 100vh;         
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 0.125rem solid #00C2FF;
    border-top: 0.125rem solid #00C2FF;
    background-color: #f9f9f9;   
    position: sticky;
    top: 0;
    margin-top: 8rem;
}

.filterBtn:hover {
    opacity: 0.9;
}

.filterBtn {
    color: #f9f9f9;
}