.nav {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 60rem;
    margin: 0 auto;

    gap: 0.5rem;
    flex-wrap: nowrap;
}

.navBtn {
    padding: 0.5rem 1rem;
    white-space: nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar {
    margin: 0.3125rem;
}

.searchBtn {
    margin: 0.3125rem;
    color: #00C2FF;
}