.mainHeaders {
    text-align: center;
    font-size: 3rem;
    margin: 20px 0;
}

.AllProducts {
    padding: 20px;
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);

}

.productCard {
    border: 2px solid white;
    border-radius: 8px;
    padding: 15px;
    margin: 5px;
}

.productLink {
    text-decoration: none;
    color: inherit;
}