.mainHeaders {
    text-align: center;
    font-size: 3rem;
    margin: 20px 0;
}

.AllProducts {
    padding: 20px;
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);

}

.productCard {
    border: 2px solid white;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    max-height: 600px;
}

.productLink {
    text-decoration: none;
    color: inherit;
}

.productimg {
    height: 175px;
    object-fit: contain;
}