.mainHeaders {
    text-align: center;
    font-size: 3rem;
    margin: 20px 0;
}

.priceComparison {
    padding: 20px;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    /* align-items: center; */
    
}

.priceComp {
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
    margin: 0px;
    max-width: 300px;
    margin-left: 200px;
}

.productLink {
    text-decoration: none;
    color: inherit;
}

.commentsContainer {
    border: 2px solid white;
    border-radius: 8px;
    margin-top: 5px;
}

.list {
    list-style: none;
    text-align: left;
    
}

.Top {
    display: flex;
    align-items: center;
    gap: 40px;
}

.featuresContainer {
    align-items: center;
    justify-content: center;
}

.featuresList {
    list-style-position: inside;
    text-align: left;
    display: inline-block;
}